@import 'vue-cal/dist/vuecal.css';

.vuecal {
  &__body {
    border: 1px solid var(--color-cyan);
    border-radius: 0 0 5px 5px;

    .vuecal__time-column {
      background-color: #51859236;
    }

    .cell-time-labels {
      border-left: 1px solid var(--color-cyan-transparent);

      .cell-time-label {
        border-bottom: 1px solid var(--color-cyan-transparent);
      }
    }

    .vuecal__cell-content {
      .vuecal__cell-events {
        .vuecal__event {
          border: 1px solid;
          color: white;
          cursor: pointer;
        }
      }
    }

  }

  .vuecal__header {
    background-color: var(--color-cyan);
    color: white;
    border: 1px solid var(--color-cyan);
    border-radius: 5px 5px 0 0;

    .vuecal__weekdays-headings {
      background-color: #1d839ba1;
    }

    .vuecal__title-bar {
      .vuecal__arrow {
        color: white !important;
      }

      .vuecal__title {
        font-size: 1.8rem;

        button {
          color: white !important;
        }
      }
    }
  }
}