:root {
  --color-white: white;
  --color-light-grey: #a09c9cf0;
  --color-grey-100: #fffbfb36;
  --color-cyan-20: #f0fcff85;
  --color-cyan: #226676;
  --color-cyan-transparent: #22677685;
  --color-cyan-100: #e5f6fa;
  --color-cyan-400: #3dd5f3;
  --color-grey-300: #adb5bd;
  --color-red-100: #ff6666fc;
  --color-orange-100: rgb(239, 108, 0);
  --color-magenta-100: #8E24AA;
}

.bg-light-blue {
  background-color: var(--color-cyan-400);
}

.bl-bg {
  background-color: var(--color-cyan-400);
}

.rd-bg {
  background-color: var(--color-red-100);
}

.or-bg {
  background-color: var(--color-orange-100);
}

.mg-bg {
  background-color: var(--color-magenta-100);
}
.cy-bg{
  background-color: var(--color-cyan);
}