.custom-font-10{
    font-size: 10px;
}
.custom-font-13{
    font-size: 13.5px;
}
.custom-font-15{
    font-size: 15px;
}
.custom-font-18{
    font-size: 18px;
}
.custom-font-25{
    font-size: 25px;
}
.custom-font-35{
    font-size: 35px;
}
