@import './color';
@import './font';
@import './calendarStyle';
.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.min-width-100 {
    min-width: 100%;
}

.radioSize {
    width: 1.5em;
    height: 1.5em;
}

.extend-sticky {
    position: sticky;
    top: 10px;
}
.cursor-pointer{
    cursor: pointer;
}