@font-face {
    font-family: Vazir;
    src: url('./vazir.eot') format('eot');
    src: url('./vazir.ttf') format('truetype');
    src: url('./vazir.woff') format('woff');
    src: url('./vazir.woff2') format('woff2');
}