@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?druwog');
  src:  url('./icomoon.eot?druwog#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?druwog') format('truetype'),
    url('./icomoon.woff?druwog') format('woff'),
    url('./icomoon.svg?druwog#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e904";
}
.icon-keyboard_arrow_up:before {
  content: "\e902";
}
.icon-keyboard_arrow_down:before {
  content: "\e903";
}
.icon-question:before {
  content: "\e901";
}
.icon-calendar-o:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
