*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
h1,h2,h3,h4,h5,h6,span,input,button,label,select{
  font-family: "Vazir";

}

body {
  min-height: 100vh;
  font-size: 15px;
}