<template>
  <nav class="navbar py-3 text-white" :class="storeCalendar.locale === 'fa' ? 'rtl' : 'ltr'">
    <div class="container">
      <div class="row w-100  mx-auto">
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <i class="icon-menu custom-font-35"></i>
          <i class="icon-calendar-o mx-3 custom-font-35"></i>
          <h5 class="custom-font-18 mb-0">{{ $t('nav.calendar') }}</h5>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <div class="row w-100">
            <div class="col-12 col-sm-8 my-2">
             <div class="d-flex align-items-center justify-content-end">
              <label>{{ $t('nav.lang') }} : </label>
              <select
                class="form-select mx-2"
                aria-label="Default select example "
                @change="switchLanguage"
              >
                <option
                  v-for="sLocale in supportedLocales"
                  :key="`locale-${sLocale}`"
                  :value="sLocale"
                  :selected="locale === sLocale"
                >
                  {{ t(`locale.${sLocale}`) }}
                </option>
              </select>
             </div>
            </div>
            <div class="col-12 col-sm-4 my-2">
              <div class="d-flex align-items-center justify-content-end  h-100">
                <i class="icon-search custom-font-25"></i>
                <i class="icon-cog custom-font-25 mx-2"></i>
                <i class="icon-question custom-font-25 mx-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { useCalanderStore } from '@/stores/calendar'
import { useI18n } from 'vue-i18n'
import Tr from '@/i18n/translation'
const { t, locale } = useI18n()
const storeCalendar = useCalanderStore()
const supportedLocales = Tr.supportedLocales
const switchLanguage = async (event: any) => {
  const newLocale = await event.target.value
  await storeCalendar.changeLocale(newLocale)
  await Tr.switchLanguage(newLocale)
}
</script>

<style lang="scss" scoped>
.navbar {
  background-color: var(--color-cyan);
  .form-select {
    width: 110px;
  }
  i {
    color: var(--color-cyan-400);
    cursor: pointer;
  }
  .icon-menu {
    &:before {
      color: var(--color-cyan-400) !important;
    }
  }
}
</style>
