<template>
  <div class="row container mx-auto my-3">
    <h1>jfljflsjfsf</h1>
    <div class="col-12 col-lg-3 mt-3 kokskfsf">
      <button
        class="create rounded-pill d-flex align-items-center justify-content-center"
        @click="addEvent = true"
      >
        <h1>lojsjfksjf</h1>
      </button>
    <div class="extend-sticky">
      <vue-cal
        xsmall
        :time="false"
        hide-view-selector
        active-view="month"
        :disable-views="['years', 'year', 'week', 'day']"
        @cell-focus="selectedDate = $event"
        class="vuecal--blue-theme vuecal--rounded-theme min-calendar mt-2"
        :locale="storeCalendar.locale"
      >
      </vue-cal>
      <h1>hi</h1>
      <PersonEvents/>
      <p>lppoofsf</p>
    </div>
    </div>
    <div class="col-12 col-lg-9">
     <h2>olskfskflsf</h2>
    </div>
    <div class="col-12">
      <Calendar
        :selectedDate="selectedDate"
        :showEventModal="addEvent"
        @update:showEventModal="addEvent = $event"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import Calendar from '@/components/Home/Calendar.vue'
import { useCalanderStore } from '@/stores/calendar'
import { ref } from 'vue'
const storeCalendar = useCalanderStore()
const addEvent = ref(false)
const selectedDate = ref(new Date())
</script>

<style lang="scss" scoped>
@import '@/assets/scss/mixin';
.create {
  @include btnUi;
  background-color: var(--color-cyan-400);
  width: 70%;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}
.min-calendar {
  max-width: 100% !important;
  height: 300px;
}
</style>
