<template>
  <div class="mt-3">
    <vue-cal
      ref="vuecal"
      :disable-views="['years', 'year', 'month']"
      :selected-date="selectedDate"
      :time-from="1 * 60"
      :time-to="24 * 60"
      :events="storeCalendar.events"
      :on-event-click="onEventClick"
      @cell-click="selectedCell"
      show-time-in-cells
      events-count-on-year-view
      :locale="storeCalendar.locale"
    >
    </vue-cal>
    <EventModal v-model="dialogVisible" @update:modelValue="closeModal" />
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import { useCalanderStore } from '@/stores/calendar'
import EventModal from '@/components/Home/EventModal.vue'
const storeCalendar = useCalanderStore()
const props = defineProps({
  selectedDate: {
    type: Date
  },
  showEventModal: {
    type: Boolean,
    default: false
  }
})
const emit = defineEmits(['update:showEventModal'])
const dialogVisible = ref(false)
function onEventClick(event: { id: number }) {
  storeCalendar.observeEvent(event.id)
  dialogVisible.value = true
  storeCalendar.editMode = true
}
function closeModal() {
  dialogVisible.value = false
  emit('update:showEventModal', false)
}
function selectedCell() {
  storeCalendar.emptyPersonEvent()
  storeCalendar.editMode = false
  dialogVisible.value = true
}
watch(
  () => props.showEventModal,
  (value) => {
    if (value) {
      storeCalendar.emptyPersonEvent()
      storeCalendar.editMode = false
      dialogVisible.value = true
    }
  }
)
</script>
