<template>
  <div
    :class="calendarStore.locale === 'fa' ? 'rtl' : 'ltr'"
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    ref="modalRef"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ !calendarStore.editMode ? $t('modal.addTitle') : $t('modal.editTitle') }}
          </h5>
          <button type="button" class="btn-close m-0" aria-label="Close" @click="close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">{{ $t('modal.caption') }}</label>
            <input class="form-control form-control-lg custom-font-18" type="text" v-model="personEvent.caption" />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ $t('modal.description') }}</label>
            <textarea class="form-control" rows="4" v-model="personEvent.description"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ $t('modal.start') }}</label>
            <VueDatePicker v-model="personEvent.start"></VueDatePicker>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ $t('modal.end') }}</label>
            <VueDatePicker v-model="personEvent.end"></VueDatePicker>
          </div>
          <div class="btn-group">
            <button
              type="button"
              class="dropdown-toggle text-white"
              :class="calendarStore.personEvent.backEventColor"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              {{ $t('modal.eventColor') }}
            </button>
            <ul class="dropdown-menu min-width-100 text-center">
              <input
                v-for="(item, index) in colorOptions"
                :key="index"
                class="form-check-input radioSize"
                :class="item.class"
                v-model="personEvent.backEventColor"
                type="radio"
                :value="item.class"
              />
            </ul>
          </div>
        </div>
        <div class="modal-footer mt-5">
          <div class="d-flex align-items-center justify-content-center w-100">
            <button type="submit" class="custom-font-18 mx-2 submit-btn" @click="submitEvent">
              {{ $t('modal.submit') }}
            </button>
            <button type="button" class="custom-font-18 mx-2 action" @click="close">
              {{ $t('modal.cancel') }}
            </button>
            <button
              v-if="calendarStore.editMode"
              type="button"
              class="custom-font-18 mx-2 action"
              @click="removeEvent"
            >
              {{ $t('modal.remove') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import moment from 'moment'
import { useCalanderStore } from '@/stores/calendar'
import { ref, onMounted, watch } from 'vue'
import { Modal } from 'bootstrap'
const colorOptions = [
  { class: 'rd-bg' },
  { class: 'bl-bg' },
  { class: 'or-bg' },
  { class: 'mg-bg' },
  { class: 'cy-bg' }
]
const calendarStore = useCalanderStore()
const personEvent = calendarStore.personEvent
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false
  }
})
const emit = defineEmits(['update:modelValue'])
const modalRef = ref<HTMLElement | null>(null)
let modal: Modal
onMounted(() => {
  if (modalRef.value) {
    modal = new Modal(modalRef.value)
  }
})
watch(
  () => props.modelValue,
  (modelValue) => {
    if (modelValue) {
      modal.show()
    } else {
      modal.hide()
    }
  }
)

function close() {
  emit('update:modelValue', false)
}

function submitEvent() {
  if (!calendarStore.editMode) {
    calendarStore.addEvent({
      start: moment(personEvent.start).format('YYYY-M-D HH:mm'),
      end: moment(personEvent.end).format('YYYY-M-D HH:mm'),
      title: personEvent.caption,
      content: 'Click to see event detail',
      contentFull: personEvent.description,
      class: personEvent.backEventColor,
      id: Math.floor(Math.random() * (1000 - 1 + 1)) + 1
    })
  } else {
    calendarStore.editEvent()
  }
  close()
}
function removeEvent() {
  calendarStore.removeEvent()
  close()
}
</script>
<style scoped lang="scss">
@import '@/assets/scss/mixin';

.dropdown-toggle {
  @include btnUi;
}

.action {
  background-color: rgb(88, 85, 85);
  @include btnUi;
}

.form-check-input:checked {
  &.rd-bg {
    background-color: var(--color-red-100);
    border-color: var(--color-red-100);
  }

  &.bl-bg {
    background-color: var(--color-cyan-400);
    border-color: var(--color-cyan-400);
  }

  &.or-bg {
    background-color: var(--color-orange-100);
    border-color: var(--color-orange-100);
  }

  &.mg-bg {
    background-color: var(--color-magenta-100);
    border-color: var(--color-magenta-100);
  }

  &.cy-bg {
    background-color: var(--color-cyan);
    border-color: var(--color-cyan);
  }
}

.modal {
  &-header {
    border-bottom: none !important;
  }
  &-footer {
    border-top: none !important;
  }
}

.submit-btn {
  background: var(--color-cyan);
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @include btnUi;

  &:hover {
    transform: scale(1.02);
  }
}
</style>
