<template>
  <div class="wrapp mt-3 mb-3 text-white" :class="calendarStore.locale === 'fa' ? 'rtl' : 'ltr'">
    <div class="d-flex justify-content-between align-items-center">
      <span class="custom-font-18">{{ $t('main.events') }} :</span>
      <i
        id="arrow"
        class="icon-keyboard_arrow_down cursor-pointer custom-font-25"
        :class="{ 'rotate-180': showEvents }"
        @click="show"
      ></i>
    </div>
    <div id="content" class="events">
      <div class="mt-2">
        <div v-if="calendarStore.events.length">
          <div
            v-for="(item, index) in calendarStore.events"
            :key="index"
            class="single py-2 px-2 mb-2"
          >
            <h6 class="custom-font-15 d-flex align-items-center">
              <i class="icon-circle custom-font-10"></i><span>{{ item.title }}</span>
            </h6>
            <h6 class="custom-font-13 mb-0">
              {{ item.start }} {{ $t('main.until') }} {{ item.end }}
            </h6>
          </div>
        </div>
        <h6 v-else>{{ $t('main.notExist') }}</h6>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useCalanderStore } from '@/stores/calendar'
const calendarStore = useCalanderStore()
let showEvents = ref(false)
const show = () => {
  showEvents.value = !showEvents.value
  const content = document.getElementById('content')!
  if (content.style.maxHeight) {
    content.style.maxHeight = ''
  } else {
    content.style.maxHeight = content.scrollHeight + 'px'
  }
}
</script>

<style lang="scss" scoped>
.wrapp {
  border: 1px solid var(--color-cyan-transparent);
  padding: 5px;
  border-radius: 3px;
  background-color: var(--color-cyan);
  .icon-keyboard_arrow_down {
    transition: all 0.3s ease-in-out;
  }
  .icon-circle {
    margin: 0 1px;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .events {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    .single {
      border: 1px dashed var(--color-light-grey);
      border-radius: 3px;
    }
  }
}
</style>
