<script setup>
import Navbar from "@/components/layout/Navbar.vue";
</script>

<template>
  <Navbar></Navbar>
  <RouterView />
  <h1>سلام زندگی من</h1>
  <p>زندگی جدید با رویاهای جدید</p>
</template>

